.vscode/**
src/**
webview/**
node_modules/**
scratch/**
**/*.map
esbuild.mjs
tsconfig.json
dist/core-test.js
test/**
dist/test/**
.vscode-test/**
dist/bench.js
dist/bench.sqlite
dist/core-test.js.map
bench/**
dist/context-preview.js
dist/*.js.map
.gitignore
dist/*-bench.js
dist/*-preview.js
